In [1]:
import mysql.connector
import json
import numpy as np

/Users/peteraugerinos/opt/anaconda3/lib/python3.9/site-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.15) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "trage3dy",
    database = "school_library"
)

In [3]:
db_Info = connection.get_server_info()

In [4]:
cursor = connection.cursor(buffered=True)

In [5]:
cursor.execute("select database();")
record = cursor.fetchone()
print("You're connected to database: ", record)

You're connected to database:  ('school_library',)

In [6]:
with open('books.json', 'r') as file:
    data = json.load(file)

In [7]:
with open('writers_insertions.sql', 'w') as f, open('book_writers_insertions.sql', 'w') as l:
    for i, book in enumerate(data):
        writers = []
        if ',' in book['Συγγραφέας']:
            writers_mini_list = book['Συγγραφέας'].split(',')
            for writer in writers_mini_list:
                writers.append(writer)
        elif '-' in book['Συγγραφέας']:
            writers_mini_list = book['Συγγραφέας'].split('-')
            for writer in writers_mini_list:
                writers.append(writer)
        else:
            writers.append(book['Συγγραφέας'])
        for j in range(len(writers)):
            try:
                last_name = writers[j].strip().split(' ')[0]
                first_name = ''
                for item in writers[j].strip().split(' ')[1:]:
                    first_name += f' {item}'
                first_name = first_name.strip()
            except (ValueError):
                last_name = writers[j].strip().split(' ')[0]
                first_name = ''
            search_query = f"SELECT first_name, last_name from writer where first_name = '{first_name}' and last_name = '{last_name}';"
            cursor.execute(search_query)
            rs = cursor.fetchone()
            if not rs:
                writer_insertion_query = f"INSERT INTO writer (first_name, last_name) VALUES ('{first_name}', '{last_name}');"
                inserts = cursor.execute(writer_insertion_query)
                f.write(f"INSERT INTO writer (first_name, last_name) VALUES ('{first_name}', '{last_name}');\n")
            id_writer_query = f"SELECT id FROM writer where first_name = '{first_name}' and last_name = '{last_name}';"
            id_book_query = f"SELECT id FROM book where title = '{book['Τίτλος']}';"
            rs_writer_id_exec = cursor.execute(id_writer_query)
            writer_ids = cursor.fetchone()
            rs_book_id_exec = cursor.execute(id_book_query)
            book_ids = cursor.fetchone()
            l.write(f"INSERT INTO book_writer (book_id, writer_id) VALUES ('{book_ids[0]}', '{writer_ids[0]}');\n")

connection.commit()